<header>
  <!-- Content -->
  <div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">
    <div class="container">
      <meta name="description" content="Where dreams become reality">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-text">
            <span class="name">ApexVerse</span>
              <hr class="star-light">
            <span class="skills">Where dreams become reality.</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="home-section-black" class="w3-grayscale-max" style="width:100%; height:10px">
    <!-- Content -->
    <div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">

    </div>
  </div>

  <div id="home-section-white" class="w3-grayscale-max" style="width:100%; height:auto; color:black">
    <!-- Grid -->
    <!-- Content -->
    <div class="w3-content" style="max-width:1100px;">
      <div class="w3-row-padding" id="about">
        <div class="w3-center w3-padding-32">
          <span class="w3-xlarge w3-border-dark-grey w3-padding-16">About Us</span>
        </div>

        <div class="w3-third w3-margin-bottom">
          <div class="w3-card-4">
            <img src="https://i.imgur.com/RqNArOe.jpg" alt="Aswin" style="width:100%">
            <div class="w3-container">
              <h3>Aswin Nair</h3>
              <p class="w3-opacity">Cofounder &amp; Developer</p>
              <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
              <%= button_to "Contact", new_contact_path, class: 'invert-button', :method => "get" %><br>
            </div>
          </div>
        </div>

        <div class="w3-third w3-margin-bottom">
          <div class="w3-card-4">
            <img src="http://rainbirdphotography.com/wp-content/uploads/2016/11/Gibson_steps_1-cover-500x333.jpg" alt="Lakshay" style="width:100%">
            <div class="w3-container">
              <h3>Lakshay Mehandru</h3>
              <p class="w3-opacity">Cofounder &amp; Developer</p>
              <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
              <%= button_to "Contact", new_contact_path, class: 'invert-button', :method => "get" %><br>
            </div>
          </div>
        </div>

        <div class="w3-third w3-margin-bottom">
          <div class="w3-card-4">
            <img src="https://naij-ask.gencdn.com/questions/25305-548faf-24609260915-a840b027e5-o-500x333.jpg" alt="Aswin" style="width:100%">
            <div class="w3-container">
              <h3>Rohan Patel</h3>
              <p class="w3-opacity">Cofounder &amp; Developer</p>
              <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
              <%= button_to "Contact", new_contact_path, class: 'invert-button', :method => "get" %><br>
            </div>
          </div>
        </div>

        <!-- Subscribe -->
        <div class="w3-white w3-margin">
          <p><button type="button" onclick="document.getElementById('subscribe').style.display='block'" class="invert-button w3-block">
          Click to get notified on the latest blog posts and more!</button></p>
        </div>

        <!-- Subscribe Modal -->
        <div id="subscribe" class="w3-modal w3-animate-opacity">
          <div class="w3-modal-content w3-padding-jumbo">
            <div class="w3-container w3-white">
              <i onclick="document.getElementById('subscribe').style.display='none'" class="fa fa-remove w3-transparent w3-button w3-xlarge w3-right"></i>
              <h2 class="w3-wide">SUBSCRIBE</h2>
              <p>Join the mailing list to receive updates on the latest blog posts and other things.</p>
              <p><input class="contact-text-field-email" type="text" placeholder="Enter e-mail"></p>
              <button type="button" class="invert-button" onclick="document.getElementById('subscribe').style.display='none'">Subscribe</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
