<header>
  <!-- Content -->
  <div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">
    <div class="container">
      <meta name="description" content="Where dreams become reality">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-text">
            <span class="name">ApexVerse</span>
              <hr class="star-light">
            <span class="skills">Where dreams become reality.</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="home-section-black" class="w3-grayscale-max" style="width:100%; height:440px">
    <!-- Content -->
    <div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">

    </div>
  </div>

  <div id="home-section-white" class="w3-grayscale-max" style="width:100%; height:600px; color:black">
    <!-- Grid -->
    <!-- Content -->
    <div class="w3-content" style="max-width:1100px;">
      <div class="w3-row-padding" id="about">
        <div class="w3-center w3-padding-32">
          <span class="w3-xlarge w3-border-dark-grey w3-padding-16">About Us</span>
        </div>

        <div class="w3-quarter w3-margin-bottom">
          <div class="w3-card-4">
            <img src="https://naij-ask.gencdn.com/questions/25305-548faf-24609260915-a840b027e5-o-500x333.jpg" alt="Aswin" style="width:100%">
            <div class="w3-container">
              <h3>Aswin Nair</h3>
              <p class="w3-opacity">Cofounder</p>
              <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
              <p><button class="invert-button">Contact</button></p>
            </div>
          </div>
        </div>

        <div class="w3-quarter w3-margin-bottom">
          <div class="w3-card-4">
            <img src="http://rainbirdphotography.com/wp-content/uploads/2016/11/Gibson_steps_1-cover-500x333.jpg" alt="Lakshay" style="width:100%">
            <div class="w3-container">
              <h3>Lakshay Mehandru</h3>
              <p class="w3-opacity">Cofounder</p>
              <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
              <p><button class="invert-button">Contact</button></p>
            </div>
          </div>
        </div>

        <div class="w3-rest w3-margin-bottom">
          <div class="container">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id lectus ac est laoreet eleifend. Morbi euismod, dolor sed aliquam tincidunt, nisl eros tincidunt sem, et interdum erat sem imperdiet lorem. Donec ac enim iaculis, porta nulla non, ultricies nunc. Vivamus imperdiet nunc leo, vel auctor sapien rutrum eu. Curabitur in ex vitae tellus placerat lobortis. Aliquam erat volutpat. Etiam sodales lorem augue, sed ullamcorper justo cursus vitae. Sed rutrum eget elit eget pretium.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>

</header>
