<!--Website-->
<div class="w3-container w3-padding-32 w3-center" id="website-pricing">
  <h1>Website Pricing</h1>
  <p class="w3-large">Choose a pricing plan that fits your needs.</p>
  <div class="container" style="max-width:1400px">
    <div class="w3-row-padding">
      <div class="w3-third w3-section" id="website-quark">
        <ul class="w3-ul w3-white w3-hover-shadow">
          <li class="w3-black w3-xlarge w3-padding-32">Quark</li>
          <li class="w3-padding-16"><b>3-5 Page Custom Website</b></li>
          <li class="w3-padding-16">Mobile Responsive</li>
          <li class="w3-padding-16">Hosting Set-up</li>
          <li class="w3-padding-16">Domain name</li>
          <li class="w3-padding-16">100% Satisfaction Guaranteed</li>
          <li class="w3-padding-16"><b>Free</b> 6 Months Maintenance</li>
          <li class="w3-padding-16">
            <h2><strike>$599</strike><b> $249</b></h2>
          </li>
          <li class="w3-light-grey w3-padding-32">
            <%= link_to "Order Now", new_quark_path, class: 'w3-btn w3-black w3-padding-large w3-hover-white' %>
          </li>
        </ul>
      </div>

      <div class="w3-third w3-section" id= "website-lepton">
        <ul class="w3-ul w3-white w3-hover-shadow">
          <li class="w3-black w3-xlarge w3-padding-32">Lepton</li>
          <li class="w3-padding-16"><b>6-8 Page Custom Website</b></li>
          <li class="w3-padding-16">Mobile Responsive</li>
          <li class="w3-padding-16">Google Analytic Integration</li>
          <li class="w3-padding-16">Hosting Set-up</li>
          <li class="w3-padding-16">Domain name</li>
          <li class="w3-padding-16">100% Satisfaction Guaranteed</li>
          <li class="w3-padding-16"><b>Free</b> 6 month Maintenance</li>
          <li class="w3-padding-16">
            <h2 ><strike>$999</strike><b> $499 </b></h2>
          </li>
          <li class="w3-light-grey w3-padding-32">
           <%= link_to "Order Now", "#",class: 'w3-btn w3-black w3-padding-large w3-hover-white' %>
          </li>
        </ul>
      </div>

      <div class="w3-third w3-section" id= "website-proton">
        <ul class="w3-ul w3-white w3-hover-shadow">
          <li class="w3-black w3-xlarge w3-padding-32">Proton</li>
          <li class="w3-padding-16">10 Page Custom Website</li>
          <li class="w3-padding-16">Mobile Responsive</li>
          <li class="w3-padding-16">Google Analytic Integration</li>
          <li class="w3-padding-16">Ad Revenue Consulting</li>
          <li class="w3-padding-16">Hosting Set-up</li>
          <li class="w3-padding-16">Domain name</li>
          <li class="w3-padding-16">100% Satisfaction Guaranteed</li>
          <li class="w3-padding-16"><b>Free</b> 1 year Maintenance</li>
          <li class="w3-padding-16">
            <h2 ><strike>$1499</strike><b> $999 </b></h2>
          </li>
          <li class="w3-light-grey w3-padding-32">
            <%= link_to "Order Now", "#", class: 'w3-btn w3-black w3-padding-large w3-hover-white' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
