<div class="w3-container w3-padding-32 w3-center">
  <h2>Thanks, you paid <strong>$999.00</strong>!</h2>
  <h2>Please contact us for any special requests or specifications you may have
  and we'll get back to you shortly.</h2>
  <h2>Thank you!</h2>
</div>
